/* for md screens */
@media screen and (max-width: 768px) {
    .heroSection{
        height: fit-content;
        background-size: 72%;
        min-height: 662px;
        background-position: right 1.8rem;
        justify-content: end;
    }

    .heroSection h1{
        font-size: 40px;
        font-weight: 1000;    
    }

    .heroSection h2{
        font-size: 30px;
        font-weight: 600;    
    }

    .heroSection h3{
        margin-top: 80px;
        font-size: 16px;
        font-weight: 600;    
    }

    .productSection{
        height: fit-content;
    }

    .productSection .cont{
        flex-direction: column;
    }

    .productSection:nth-child(odd) .cont{
      flex-direction: column;
    }
    
    .productImage{
        margin-bottom: 1rem;
        max-height: 480px;
    }
}