/* for sm screens */
@media screen and (max-width: 390px) {
    .heroSection h1{
        font-size: 24px;
        font-weight: 1000;    
    }

    .heroSection h2{
        font-size: 17px;
        font-weight: 600;    
    }

    .heroSection h3{
        font-size: 14px;
        font-weight: 600;    
    }

    .productSection{
        padding: 0;
        margin: 0;
    }

    .productSection div{
        height: fit-content;
    }
    
}