:root{
    --mainColor: rgb(97, 11, 11);
    --zoookiColor: #a7000a;
    --mainBlue: #a3c0f9;
    --mainPink: #fbb8de;
    --mainBG: #f6ddd6;
    --mainDark: #171720;
    --mainText: #1b185b;
    --mainSupDark: #4b5168;

    --moco: #ff83ca;
    --mococo: #f7a8cb;

    --fuwa: #2988f7;
    --fuwawa: #67b3ff;

    --bij: #4A41E0;
    --bijoo: #6E5BF4;
}

body{
    font-family: 'Space Grotesk', sans-serif;
}

*{
    /* remove comment for easier element detecction for responsitivity debugging  */
    background-color: #f3404018;
}
.meg{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

.marg{
    margin: 20px 0 20px 0;
    height: 80px;
}

.heroSection {
    /* background-image: url('./assets/images/F2V_ORqb0AAE6GP.jpg'); */
    background-image: url('./assets/images/fuwamocoQ12.jpg');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: var(--mainBlue);
    width: 100%;
    height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding-left: 2rem;    */
    color: var(--mainText);
}

.heroSection div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: inherit;

    /* padding-left: 4.5rem; */
}

.heroSection h1{
    font-family: 'Space Grotesk', sans-serif;
    /* font-style: bold; */
    font-size: 60px;
    font-weight: 1000;
    line-height: .875em;
}

.heroSection h2{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: .915em;
}

.heroSection h3{
    font-family: 'Nunito', sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.05em;
    margin-bottom: 20px;
}

.heroBGs {
    z-index: 10;
    display: block;
    position: absolute;
    right: 40px;
    /* margin-right: 60px; */
    width: 90%;
    height: 600px;
    /* background-image: url('./assets/images/F2V_ORqb0AAE6GP.jpg'); */
    background-image: url('./assets/images/bibooDecrilus.jpg');
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: right center;
  }

  .productSection{
    mim-height: 85vh;
    height: fit-content;
  }

  .productSection .cont{
    display: flex;
    flex-direction: row;
  }
  .productSection:nth-child(odd) .cont{
    flex-direction: row-reverse;
  }

  .productSection:nth-child(odd){
    background-color: var(--mainBlue);
    /* display: flex; */
    /* flex-direction: row; */
  }

  .productSection div{
    width: 100%;
    box-sizing: border-box;
    /* display: flex; */
    /* flex-direction: row; */
  }

  .productDetails{
    width: 66%;
    padding-left: 8px;
  }

  .productDetails a{
    color: var(--mainText);
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .productDetails p{
    margin-bottom: 0;    
}

.productDetails p:first-of-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: .8rem; */
  }

  .productDetails p:last-of-type{
    margin-top: .8rem;
  }

  .productDetails button{
    margin-top: 1rem;
    margin-right: 1.2rem;
  }

  .productImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
    height: inherit;
    padding-left: 8px;
  }

  .productImage img{
    /* width: auto; */
    height: 100%;
    object-fit: cover;
  }

.sectionated{
    background-color: var(--mainBlue);
    /* height: 80px; */
    /* max-width: 850px; */
    /* width: min(calc(80% - 2rem), 60rem); */
    margin-inline: auto;
}

.full-bleed{
    box-shadow: 0 0 0 100vmax var(--mainBlue);
    clip-path: inset(0 -100vmax)
}