:root{
    --mainColor: rgb(97, 11, 11);
    --zoookiColor: #a7000a;
    --mainBlue: #a3c0f9;
    --mainPink: #fbb8de;
    --mainBG: #f6ddd6;
    --mainDark: #171720;
    --mainSupDark: #4b5168;

    --moco: #ff83ca;
    --mococo: #f7a8cb;

    --fuwa: #2988f7;
    --fuwawa: #67b3ff;

    --bij: #4A41E0;
    --bijoo: #6E5BF4;
}

*{
    /* remove comment for easier element detecction for responsitivity debugging  */
    background-color: #6d5bf41c;
}
.meg{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

.marg{
    margin: 20px 0 20px 0;
    height: 80px;
}

.heroSection{
    background-color: var(--mainBlue);
    /* height: 80px; */
    width: 100%;
    /* width: min(calc(80% - 2rem), 60rem); */
    margin-inline: auto;
    padding: 80px 0 0 0;
}

.heroSection h1{
    font-family: 'Space Grotesk', sans-serif;
    font-style: bold;
    font-size: 40px;
    font-weight:1600;
}

.heroSection h2{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.sectionated{
    background-color: var(--mainBlue);
    /* height: 80px; */
    max-width: 850px;
    /* width: min(calc(80% - 2rem), 60rem); */
    margin-inline: auto;
}

@media screen and (max-width: 768px) {
    .sectionated{
        width: 100%;
        /* width: min(calc(80% - 2rem), 60rem); */
    }
}

.full-bleed{
    box-shadow: 0 0 0 100vmax var(--mainBlue);
    clip-path: inset(0 -100vmax)
}